USE [master]
GO
/****** Object:  Database [DBPodrska]    Script Date: 06-Dec-18 12:36:18 PM ******/
CREATE DATABASE [DBPodrska] ON  PRIMARY 
( NAME = N'DBPodrska', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DBPodrska.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBPodrska_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DBPodrska_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPodrska].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPodrska]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryList]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_CategoryList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriorityList]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriorityList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PriorityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectionsList]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionsList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SectionsList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeverityList]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeverityList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SeverityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_SeverityList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusesList]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusesList](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusesList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportList]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportList](
	[TicketNo] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[Severity] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[RaisedBy] [int] NOT NULL,
	[RaisedOn] [date] NOT NULL,
	[DueOn] [date] NOT NULL,
	[ResolvedOn] [date] NULL,
	[IDSectionList] [int] NULL,
 CONSTRAINT [PK_SupportList] PRIMARY KEY CLUSTERED 
(
	[TicketNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserList]    Script Date: 06-Dec-18 12:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Activ] [bit] NOT NULL,
 CONSTRAINT [PK_UserList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrator')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f5804d1a-2a1f-4ff0-baf7-82a333678cf2', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2ce1e0c5-7f0f-41cc-82c7-1b5e0b65e5bc', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2ce1e0c5-7f0f-41cc-82c7-1b5e0b65e5bc', N'user@gmail.com', 0, N'AC0MN2/smsQv1+ZD+CGv5yjtAVnQ4eLrI81QVgVhPCVbgCYgrQdSRCyI17CuqnvzxQ==', N'166f5f98-f50c-402b-b5b4-c1a77f6047d8', NULL, 0, 0, NULL, 1, 0, N'user@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'f5804d1a-2a1f-4ff0-baf7-82a333678cf2', N'bojan1306@gmail.com', 0, N'AJXNCNX6ugP/2Fs/6oegEh6oiGnx8ysd4IySk4oU1ZLuArT+8LR2rUELBSL5pXdgYw==', N'947d50f1-7ad2-4502-bf75-e7348d598f17', NULL, 0, 0, NULL, 1, 0, N'bojan1306@gmail.com')
SET IDENTITY_INSERT [dbo].[CategoryList] ON 

INSERT [dbo].[CategoryList] ([ID], [CategoryName]) VALUES (1, N'Suggestion')
INSERT [dbo].[CategoryList] ([ID], [CategoryName]) VALUES (2, N'Required')
SET IDENTITY_INSERT [dbo].[CategoryList] OFF
SET IDENTITY_INSERT [dbo].[PriorityList] ON 

INSERT [dbo].[PriorityList] ([ID], [PriorityName]) VALUES (1, N'End of week')
INSERT [dbo].[PriorityList] ([ID], [PriorityName]) VALUES (2, N'Low priority')
INSERT [dbo].[PriorityList] ([ID], [PriorityName]) VALUES (3, N'Tomorrow')
SET IDENTITY_INSERT [dbo].[PriorityList] OFF
SET IDENTITY_INSERT [dbo].[SectionsList] ON 

INSERT [dbo].[SectionsList] ([ID], [SectionName], [Description]) VALUES (1, N'Project Page', N'issues on project section')
INSERT [dbo].[SectionsList] ([ID], [SectionName], [Description]) VALUES (2, N'Jobs Page', N'issues on jobs section')
INSERT [dbo].[SectionsList] ([ID], [SectionName], [Description]) VALUES (3, N'Brower issue', N'Browser issues')
SET IDENTITY_INSERT [dbo].[SectionsList] OFF
SET IDENTITY_INSERT [dbo].[SeverityList] ON 

INSERT [dbo].[SeverityList] ([ID], [SeverityName]) VALUES (1, N'Nice to have')
INSERT [dbo].[SeverityList] ([ID], [SeverityName]) VALUES (2, N'Standard ( can wait)')
INSERT [dbo].[SeverityList] ([ID], [SeverityName]) VALUES (3, N'Critical ( showstopper)')
SET IDENTITY_INSERT [dbo].[SeverityList] OFF
INSERT [dbo].[StatusesList] ([ID], [Name], [Description]) VALUES (1, N'In process', NULL)
INSERT [dbo].[StatusesList] ([ID], [Name], [Description]) VALUES (2, N'Closed', NULL)
INSERT [dbo].[StatusesList] ([ID], [Name], [Description]) VALUES (3, N'Resolved', NULL)
SET IDENTITY_INSERT [dbo].[SupportList] ON 

INSERT [dbo].[SupportList] ([TicketNo], [Title], [Status], [Category], [Severity], [Priority], [RaisedBy], [RaisedOn], [DueOn], [ResolvedOn], [IDSectionList]) VALUES (1, N'Ticket 001', 4, 1, 1, 1, 1, CAST(N'2018-11-27' AS Date), CAST(N'2018-12-05' AS Date), NULL, 1)
INSERT [dbo].[SupportList] ([TicketNo], [Title], [Status], [Category], [Severity], [Priority], [RaisedBy], [RaisedOn], [DueOn], [ResolvedOn], [IDSectionList]) VALUES (2, N'Ticket 002', 1, 1, 2, 2, 1, CAST(N'2018-11-27' AS Date), CAST(N'2018-12-05' AS Date), NULL, 2)
INSERT [dbo].[SupportList] ([TicketNo], [Title], [Status], [Category], [Severity], [Priority], [RaisedBy], [RaisedOn], [DueOn], [ResolvedOn], [IDSectionList]) VALUES (3, N'Ticket 003', 2, 2, 3, 3, 1, CAST(N'2018-11-27' AS Date), CAST(N'2018-11-28' AS Date), CAST(N'2018-11-28' AS Date), 3)
SET IDENTITY_INSERT [dbo].[SupportList] OFF
SET IDENTITY_INSERT [dbo].[UserList] ON 

INSERT [dbo].[UserList] ([ID], [Name], [Address], [City], [Country], [Phone], [Role], [Activ]) VALUES (1, N'Jon Doe', N'Stepe Step 49', N'Banja Luka', N'BiH', N'38765111222', N'Admin', 1)
INSERT [dbo].[UserList] ([ID], [Name], [Address], [City], [Country], [Phone], [Role], [Activ]) VALUES (2, N'Jane Doe', N'Stepe Step 94', N'Gradiska', N'BiH', N'38765333444', N'User', 0)
INSERT [dbo].[UserList] ([ID], [Name], [Address], [City], [Country], [Phone], [Role], [Activ]) VALUES (3, N'Test Die', N'Stepe Step 94', N'Prijedor', N'BiH', N'38765555666', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[UserList] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 06-Dec-18 12:36:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 06-Dec-18 12:36:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 06-Dec-18 12:36:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 06-Dec-18 12:36:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 06-Dec-18 12:36:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 06-Dec-18 12:36:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SupportList]  WITH CHECK ADD  CONSTRAINT [FK_SupportList_CategoryList] FOREIGN KEY([Category])
REFERENCES [dbo].[CategoryList] ([ID])
GO
ALTER TABLE [dbo].[SupportList] CHECK CONSTRAINT [FK_SupportList_CategoryList]
GO
ALTER TABLE [dbo].[SupportList]  WITH CHECK ADD  CONSTRAINT [FK_SupportList_PriorityList] FOREIGN KEY([Priority])
REFERENCES [dbo].[PriorityList] ([ID])
GO
ALTER TABLE [dbo].[SupportList] CHECK CONSTRAINT [FK_SupportList_PriorityList]
GO
ALTER TABLE [dbo].[SupportList]  WITH CHECK ADD  CONSTRAINT [FK_SupportList_SectionsList] FOREIGN KEY([IDSectionList])
REFERENCES [dbo].[SectionsList] ([ID])
GO
ALTER TABLE [dbo].[SupportList] CHECK CONSTRAINT [FK_SupportList_SectionsList]
GO
ALTER TABLE [dbo].[SupportList]  WITH CHECK ADD  CONSTRAINT [FK_SupportList_SeverityList] FOREIGN KEY([Severity])
REFERENCES [dbo].[SeverityList] ([ID])
GO
ALTER TABLE [dbo].[SupportList] CHECK CONSTRAINT [FK_SupportList_SeverityList]
GO
ALTER TABLE [dbo].[SupportList]  WITH CHECK ADD  CONSTRAINT [FK_SupportList_StatusesList] FOREIGN KEY([Status])
REFERENCES [dbo].[StatusesList] ([ID])
GO
ALTER TABLE [dbo].[SupportList] CHECK CONSTRAINT [FK_SupportList_StatusesList]
GO
ALTER TABLE [dbo].[SupportList]  WITH CHECK ADD  CONSTRAINT [FK_SupportList_UserList] FOREIGN KEY([RaisedBy])
REFERENCES [dbo].[UserList] ([ID])
GO
ALTER TABLE [dbo].[SupportList] CHECK CONSTRAINT [FK_SupportList_UserList]
GO
USE [master]
GO
