@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Support System Application</h1>
    <p class="lead">Axelyos internship 2018</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>

    </div>
    <div class="col-md-4">
        <h2>AJAX</h2>
        <p>
            Ajax (Asynchronous JavaScript And XML) is a set of Web development techniques using many web technologies
            on the client side to create asynchronous Web applications. With Ajax, web applications can send and retrieve
            data from a server asynchronously (in the background) without interfering with the display and behavior of the
            existing page.
        </p>

    </div>
    <div class="col-md-4">
        <h2>SQL</h2>
        <p>
            SQL (Structured Query Language) is a domain-specific language used in programming and designed
            for managing data held in a relational database management system (RDBMS), or for stream processing
            in a relational data stream management system (RDSMS).
        </p>

    </div>

</div>